.success{
  background-color: green;
}
  
.updated{
  background-color: yellow;
}

.error{
  background-color:red;
}
nav{
  background-color: rgb(81, 90, 87);
  padding: 15px;
  color: white;
  margin: 0; 
}
body{
  margin: 0;
}

footer{
  background-color: rgb(81, 90, 87);
  padding: 15px;
  color: white;
  width: 100%;
  margin: 0;
  bottom: 0;
}

/* blogshow.jsx component */
.blogshow{
  display: flex;
  flex-direction: column;
}
.imagebox{
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.imagebox img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.modifyButton{
  display: flex;
  height: 25px;
}